<article class="pa3 pa5-ns" data-name="slab-stat-large">
    <h3 class="f6 ttu tracked gray">{{data.date | date}}</h3>
    <div class="cf">
        <item title="Productivity Pulse" data="{{data.productivity_pulse}}"></item>
        <item title="Total Hours" data="{{data.total_hours}}"></item>
        <item title="Productive Hours" data="{{data.all_productive_hours}}"></item>
        <item title="Distracting Hours" data="{{data.all_distracting_hours}}"></item>
        <item title="Productive Percentage" data="{{data.all_productive_percentage}}%"></item>
        <item title="Distracted Percentage" data="{{data.all_distracting_percentage}}%"></item>
        <!--<item title="Development" data="32%"></item>-->
        <!--<item title="Design" data="24%"></item>-->
        <!--<item title="Reference" data="13%"></item>-->
        <!--<item title="Other" data="31%"></item>-->
    </div>
</article>